doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		script(src='jquery-3.1.0.min.js')
		script(src='getComments.js')
		link(rel='stylesheet' href='comments.css')
		title= title
	body
		div(id='formDiv')
			form(action='/post/thread' method='POST')
				input(type='text' placeholder='name' name='name')
				input(type='text' placeholder='comment' name='comment')
				button(type='submit') send

		div(id='commentDiv')